nav .brand-logo {
  padding: 0 15px;
}
h1 {
  font-weight: 600;
}
img.parallax {
  min-width: 1700px; /* my screen is larger than the img */
}
i {
  padding-right: 5px;
  vertical-align: bottom;
}
.card img {
  width: 100%;
}
/* just to make the menu cards look OK on iPad Air landscape */
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  .card .card-content {
    position: relative;
    min-height: 160px;
  }
  .item-price {
    position: absolute;
    bottom: 20px;
  }
  .add-to-order {
    font-size: 12px;
  }
}
